@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  /* background-color: rgb(235, 92, 92); */
  background: linear-gradient(
    to right,
    rgb(103, 233, 146),
    rgb(177, 214, 192),
    rgb(103, 233, 146)
  );
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 0 2px transparent;
  width: 350px;
  max-width: 350px;
  height: 550px;
  border-radius: 20px;
  background-color: #fffbfb;
  justify-content: space-between;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 200px;
}

p {
  margin: 0;
}

.number {
  font-size: 10em;
}

.suit-down,
.suit-up {
  font-size: 5em;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container-suit-up {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
}

.container-suit-down {
  display: flex;
  margin-left: auto;
  transform: rotate(180deg);
  margin-right: 10px;
}

/* Estilo para el botón */
.button {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

#reloadButton {
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background-color: #56718d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

#reloadButton:hover {
  background-color: #000000;
}
